.main-chat
  .group-info
    .left-box
      %h2.left-box__group-name
        = current_user.name
      %ul.left-box__member-list
        Member:
        %li.left-box__member-list__name
          - @group.users.each do |member|
            = member.name
    = link_to edit_group_path(@group) do
      .edit-btn
        Edit
  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message', id: 'text'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden', id: 'image'
      = f.submit 'Send', class: 'form__submit'