.main-chat
  .group-info
    .left-box
      %h2.left-box__group-name
        = current_user.name
      %ul.left-box__member-list
        Member:
        %li.left-box__member-list__name
          - @group.users.each do |member|
            = member.name
    = link_to edit_group_path(@group) do
      .edit-btn
        Edit
  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      .form-mask
        = f.text_field :content, class: 'form-mask__message', placeholder: 'type a message'
        = f.label :image, class: 'form-mask__image' do
          = icon('fa', 'image', class: 'icon')
          = f.file_field :image, class: 'form-mask__image__file'
      = f.submit 'Send', class: 'submit-btn'